*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

button,
input,
select {
    font-family: inherit;
}

body {
    min-height: 100vh;
    background-color: #587B7F;
    color: rgb(25, 23, 22);
    font-size: 1.125em;
    display: grid;
    grid-template-columns: 20rem 1fr;
    margin: 0 16rem;
}

dialog {
    padding: 1em;
    max-width: 50ch;
    top: 20%;
    left: 40%;
}

dialog::backdrop {
    background: rgba(0 0 0 / .4);
}

input[type=text] {
    min-height: 1.75em;
}

#task-form {
    padding: 0.75em;
}

ul {
    list-style-type: none;
}

.sidebar {
    position: sticky;
    top: 0;
    max-height: 100vh;

    background-color: rgb(25, 23, 22);
    color: rgb(224, 226, 219);

    padding: 1em;
}

header,
#tasks-header {
    text-align: center;
    font-weight: bold;
    font-size: 2.25rem;
}

#folders {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

#folders > li {
    padding: 0.3em 1em;
}

.selected-folder {
    background-color: rgb(224, 226, 219);
    color: rgb(25, 23, 22);
    font-weight: bold;
    border-radius: 1vw;
}

#folder-btns > button,
.open-task-form {
    border: none;
    border-radius: 0.5vw;
    padding: 0.6em 1em;
    background-color: rgb(230, 175, 46);
    color: rgb(25, 23, 22);
    font-weight: bold;

}

#folder-btns {
    display: flex;
    gap: 1rem;
    position: fixed;
    bottom: 2rem;
}

#todo-container {
    background-color: rgb(224, 226, 219);

    display: grid;
    grid-template-rows: 4rem 1fr;
}

#tasks-header {
    padding: 1rem;    
}

.tasks {
    display: grid;
    gap: 2rem;
    padding: 1rem 3rem;
}

.task {
    display: flex;
    gap: 1rem;
}

.open-task-form {
    position: fixed;
    bottom: 2rem;
    right: 19rem;
}