*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

button,
input,
select {
  font-family: inherit;
}

body {
  min-height: 100vh;
  color: rgb(25, 23, 22);
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 20rem 1fr;
}

dialog {
  padding: 1em;
  max-width: 50ch;
  top: 20%;
  left: 40%;
}

dialog::backdrop {
  background: rgba(0 0 0 / 0.4);
}

input[type="text"] {
  min-height: 1.75em;
}

input {
  accent-color:  #5d2e46;
}

#task-form {
  padding: 0.75em;
}

ul {
  list-style-type: none;
}

.sidebar {
  position: sticky;
  top: 0;
  max-height: 100vh;

  background-color: rgb(25, 23, 22);
  color: rgb(224, 226, 219);

  padding: 1em;
}

header,
#tasks-header {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
}

#lists {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

#lists > li {
  padding: 0.3em 1em;
}

.selected-list{
  background-color: rgb(224, 226, 219);
  color: rgb(25, 23, 22);
  font-weight: bold;
  border-radius: 1vw;
}

#list-btns > button,
.open-task-form {
  border: none;
  border-radius: 0.5vw;
  padding: 0.6em 1em;
  background-color: #5d2e46;
  color: rgb(224 226 219);
  font-size: 1.25rem;
}

#list-btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#list-container {
  display: flex;
  flex-direction: column;
  gap:1rem;
}

#task-container {
  background-color: rgb(224, 226, 219 / 0.4);

  display: grid;
  grid-template-rows: 5rem 1rem 1fr;
}

#tasks-header {
  padding: 1rem;
}

.tasks {
  display: grid;
  padding: 1rem 3rem;
}

.task {
  padding: 0.75rem;
  display: grid;
  margin: 0.5rem 0;
}

.open-task-form {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.list-form-btn,
.task-button {
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
  background-color: #5d2e46;
  color: rgb(224 226 219);
  font-weight: 500;
  border: none;
  border-radius: 0.5vw;
}

.line-1 {
  display: flex;
  gap: 1rem;
}

.line-2 {
  display: grid;
  margin-left: 3em;
}

#due-date {
  margin-left: auto;
}

div[data-priority = "High Priority"] {
  border-left: 7px solid #361c29;
  background-color: rgba(54 28 41 / 0.2);
}
div[data-priority = "Medium Priority"] {
  border-left: 7px solid #5d2e46;
  background-color: rgba(93 46 70 / 0.2);

}
div[data-priority = "Low Priority"] {
  border-left: 7px solid #ad6a6c;
  background-color: rgba(173 106 108 / 0.2);

}
div[data-priority = "No Priority"] {
  border-left: 7px solid #d0ada7;
  background-color: rgba(208 173 167 / 0.2);
}

#priority-index {
  display: grid;
  grid-template-columns: repeat(4, 0.15fr 1fr);
  padding: 0 3rem;
  align-items: center;
}

#priority-index > div{
  height: 1rem;
  width: 1rem;
  color: rgb(224, 226, 219);
  text-align: center;
  justify-self: center;
}

#priority-index > p {
  justify-self: center;
}

#priority-index div:nth-child(1){
  background-color:#361c29;
  color: rgb(224, 226, 219);
}
#priority-index div:nth-child(3){
  background-color: #5d2e46;
  color: rgb(224, 226, 219);
}
#priority-index div:nth-child(5){
  background-color: #ad6a6c;
}
#priority-index div:nth-child(7){
  background-color: #d0ada7;
}